<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-config" content="<%= BASE_URL %>browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>Старообрядцы в Крыму (генератор изображения для VK)</title>
    <script>
      // if ('serviceWorker' in navigator) {
      //   navigator.serviceWorker.register('sw.js').then(
      //     function(registration) {
      //       // Registration was successful
      //       console.log('ServiceWorker registration successful with scope: ', registration.scope); },
      //     function(err) {
      //       // registration failed :(
      //       console.log('ServiceWorker registration failed: ', err);
      //     }
      //   );

      //   window.addEventListener('install', function(event) {
      //     event.waitUntil(
      //       caches.open('rpsc-cache').then(function(cache) {
      //         return cache.addAll([
      //           // your list of cache keys to store in cache
      //           'main.bundle.js',
      //           'vendor.bundle.js',
      //           // etc.
      //         ])
      //       })
      //     );
      //   });
        
      //   let deferredPrompt;
        
      //   window.addEventListener('beforeinstallprompt', (e) => {
      //     // Prevent Chrome 67 and earlier from automatically showing the prompt
      //     e.preventDefault();
      //     // Stash the event so it can be triggered later.
      //     deferredPrompt = e;

      //     console.log('test');
          
      //     // Show the prompt
      //     deferredPrompt.prompt();
      //     // Wait for the user to respond to the prompt
      //     deferredPrompt.userChoice
      //     .then((choiceResult) => {
      //       if (choiceResult.outcome === 'accepted') {
      //         console.log('User accepted the A2HS prompt');
      //       } else {
      //         console.log('User dismissed the A2HS prompt');
      //       }
      //       deferredPrompt = null;
      //     });
      //   });
      // }
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vue-new-decorators doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
