<template lang="pug">
  .container.py-3
    h5.mt-1.mb-3.my-sm-3.d-flex.align-items-center
      b-img(
        src="./img/logo.png",
        width="60"
        alt="",
        rounded="circle",
        class="img-thumbnail mr-3")
      span
        | Старообрядцы в Крыму
        small.form-text.text-muted (генератор изображения для VK)
    b-card(no-body, :class="{ 'with-keyboard': showKeyboard }")
      b-tabs(card)
        b-tab(title="Текст", title-item-class="w-50" active)
          vue-editor(v-model="content", :editorToolbar="customToolbar", ref="editor")
          .pt-3.d-flex.text-right
            b-button(@click="toggleKeyboard", class="btn-info btn_keyboard", :class="{'active': showKeyboard}")
              span.align-middle ⌨️
              |  Клавиатура
            b-button(@click="clear", class="ml-auto", :disabled="content === ''") Очистить
        b-tab(title="Результат", title-item-class="w-50", @click="showKeyboard = false")
          .result.ql-editor
            .p-2(ref="result", v-html="content")
          .row
            .col-12.col-sm-7.col-md-8.col-lg-9
              b-form-group(label="Имя изображения:", label-for="filename", class="mb-sm-0")
                b-form-input#filename(type='text', v-model='filename')
            .col-12.col-sm-5.col-md-4.col-lg-3
              b-form-group(label="&nbsp;", label-class="btn-label", class="mb-0")
                b-button(variant="primary", @click="print", class="flex-fill", block, :disabled="content === ''") Сохранить картинку
    keyboard(
      v-show="showKeyboard"
      @getKeyChar="changeContent"
      @backspace="handleBackspace"
      @enter="handleEnter"
    )
</template>

<script>
import { VueEditor } from 'vue2-editor'
import Keyboard from '../components/Keyboard/Keyboard.vue'

export default {
  name: 'Home',
  components: {
    VueEditor,
    Keyboard
  },
  data () {
    return {
      content: '',
      filename: 'Старообрядцы_в_Крыму_img_vk',
      customToolbar: [
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        ['bold', 'italic'],
        [{ 'align': [] }],
        [{ 'color': [] }],
        ['clean']
      ],
      showKeyboard: false
    }
  },
  methods: {
    print () {
      const el = this.$refs.result
      const options = {
        type: 'dataURL',
        scale: 3
      }
      this.$html2canvas(el, options)
        .then(output => {
          const link = document.createElement('a')
          link.download = `${this.filename}.png`
          link.href = output
          link.click()
          link.remove()
        })
        .catch(error => console.error(error)) // eslint-disable-line
    },
    clear () {
      this.content = ''
    },
    toggleKeyboard () {
      this.showKeyboard = !this.showKeyboard
    },
    setFocusEnd () {
      const el = this.$refs.editor.quill.root
      const selection = window.getSelection()
      const range = document.createRange()

      requestAnimationFrame(() => {
        selection.removeAllRanges()
        range.selectNodeContents(el)
        range.collapse(false)
        selection.addRange(range)
        el.focus()
      })
    },
    changeContent (char) {
      const quill = this.$refs.editor.quill
      quill.setText(quill.getText(0, quill.getLength() - 1) + char)
      this.setFocusEnd()
    },
    handleEnter () {
      const quill = this.$refs.editor.quill
      quill.insertText(quill.getLength(), '')
      quill.blur()
      this.setFocusEnd()
    },
    handleBackspace () {
      const quill = this.$refs.editor.quill
      quill.deleteText(quill.getLength() - 2, 1)
      quill.blur()
      this.setFocusEnd()
    }
  }
}
</script>

<style lang="stylus">
  @font-face
    font-family 'triodion-ieUcs'
    src url('../assets/fonts/triodion-ieUcs.woff2') format('woff2'), url('../assets/fonts/triodion-ieUcs.woff') format('woff')
    font-weight normal
    font-style normal

  .ql-editor
    font-family triodion-ieUcs
    min-height 250px !important

  .result
    max-width 540px
    margin 0 auto

  .btn_keyboard
    &.disabled
      cursor pointer

  @media all and (max-width 575px)
    .ql-toolbar.ql-snow .ql-formats
      margin-right 5px !important

    .btn-label
      display none

  @media all and (max-width 767px)
    .with-keyboard
      margin-bottom 160px
</style>
