<template lang="pug">
  .keyboard.card.pt-1.pt-sm-2.px-1.px-sm-2.mt-2(ref="keyboard")
    .keys-row.d-flex
      button.btn.btn-lg.btn-light(v-for="char in getRowChars(0)") {{ char }}
      button.btn.btn-lg.btn-secondary.btn_norm.btn_backspace(@click="$emit('backspace')") ⬅︎
    .keys-row.d-flex
      button.btn.btn-lg.btn-secondary.btn_norm.btn_tab(@click="btnCharClick(tabChar)") {{ isMobile ? '⇥' : 'Tab' }}
      button.btn.btn-lg.btn-light(v-for="char in getRowChars(1)") {{ char }}
    .keys-row.d-flex
      button.btn.btn-lg.btn-secondary.btn_norm.btn_caps(
        :class="{'btn-dark': isCaps}",
        @click="isCaps = !isCaps; isShift = false"
      ) {{ isMobile ? '⇪' : 'Загл.' }}
      button.btn.btn-lg.btn-light(v-for="char in getRowChars(2)") {{ char }}
      button.btn.btn-lg.btn-secondary.btn_norm.btn_enter(@click="$emit('enter')") {{ isMobile ? '↵' : 'Ввод' }}
    .keys-row.d-flex
      button.btn.btn-lg.btn-secondary.btn_norm.btn_shift(
        :class="{'btn-dark': isShift}",
        @click="isShift = !isShift; isCaps = false"
      ) {{ isMobile ? '⇧' : 'Shift' }}
      button.btn.btn-lg.btn-light(v-for="char in getRowChars(3)") {{ char }}
    .keys-row.d-flex
      button.btn.btn-lg.btn-secondary.btn_norm.btn_symbols(
        :class="{'btn-dark': isSymb2}",
        @click="isSymb2 = !isSymb2"
      ) {{ isMobile ? '№2' : 'Сим. №2' }}
      button.btn.btn-lg.btn-light.btn_norm.btn_space(@click="btnCharClick(' ')") Пробел
      button.btn.btn-lg.btn-secondary.btn_norm.btn_alt(
        :class="{'btn-dark': isAlt}",
        @click="isAlt = !isAlt"
      ) Alt
</template>

<script>
import chars from './chars.json'

export default {
  name: 'keyboard',
  data () {
    return {
      chars,
      isShift: false,
      isCaps: false,
      isSymb2: false,
      isAlt: false,
      tabChar: '	', // eslint-disable-line
      isMobile: false
    }
  },
  mounted () {
    window.addEventListener('resize', this.setIsMobile);

    [].forEach.call(this.$refs.keyboard.querySelectorAll('.btn:not(.btn_norm)'), ($btn) => {
      $btn.addEventListener('click', () => {
        this.btnCharClick($btn.innerText)
      })
    })

    this.setIsMobile()
  },
  methods: {
    btnCharClick (char) {
      this.isShift = false
      this.$emit('getKeyChar', char)
    },
    getRowChars (rowIndex) {
      const chars = this.chars
      const symb2 = this.isSymb2 ? 'en' : 'ru'
      const alt = this.isAlt ? 'alt' : 'normal'

      return (this.isShift
        ? chars[rowIndex][symb2][alt].shift
        : (this.isCaps
          ? chars[rowIndex][symb2][alt].caps
          : chars[rowIndex][symb2][alt].default
        )
      )
    },
    setIsMobile () {
      this.isMobile = window.innerWidth < 768
    }
  }
}
</script>

<style lang="stylus" scoped>
  .keyboard
    .btn
      text-align center
      flex 1
      cursor pointer
      margin-bottom .5rem

      &:not(.btn_norm)
        font-family triodion-ieUcs

      + .btn
        margin-left .5rem

      &_norm
        font-size 16px

      &_backspace
        font-size 20px

      &_backspace
      &_symbols
      &_caps
      &_shift
      &_enter
      &_alt
        flex-grow 2

      &_space
        flex-grow 11

    @media all and (max-width 1023px)
      .btn
        &-lg
          font-size 1rem
          padding 0.375rem 0.75rem
          margin-bottom .3rem

        + .btn
          margin-left .3rem

    @media all and (max-width 767px)
      position fixed
      left 0
      bottom 0
      width 100%

      .btn
        &-lg
          font-size 16px
          padding 2px
          margin-bottom 3px

        &_norm
          padding 2px 4px

        + .btn
          margin-left 1px

        &_enter
        &_shift
        &_backspace
        &_caps
          flex-grow 1

        &_alt
        &_symbols
        &_space
          font-size 12px

</style>
